<%-include('./header')%>
  <div class="banner-container">
    <img src="/images/party.webp" alt="Banner Image" class="img-fluid" style="width: 100%;">
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12 text-center mb-4">
        <h2>NEW ARRIVALS</h2>
    </div>
        <% newArrivals.slice(0,4).forEach(product => { %>
            <div class="col-md-3">
                <div class="card">
                    <div class="image-container">
                      <a href="/products/<%= product._id %>">
                        <img src="/<%= product.images[0] %>" class="img-fluid rounded thumbnail-image">
                        </a>
                    </div>

                    <div class="product-detail-container p-2">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="dress-name"><%= product.name %></h5>
                            <div class="d-flex flex-column mb-2">
                                <span class="new-price">₹<%= product.price.toFixed(2) %></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>
<br>

  <footer class="bg-dark text-light py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Contact Us</h5>
          <p>Email: simplesole@gmail.com</p>
          <p>Phone: +1 (123) 456-7890</p>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="/home" class="text-light">Home</a></li>
            <li><a href="#" class="text-light">About</a></li>
            <li><a href="#" class="text-light">Terms and Conditions</a></li>
            <li><a href="#" class="text-light">Return and Refund policy</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <a href="#" class="text-light me-3"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-light me-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-light me-3"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <%-include('./footer')%>