<%-include('./sidebar') %>
  <div class="col-md-9 content">
    <!-- Heading -->
    <h2 style="color: crimson;">Product Details</h2>

    <!-- Product Form -->
    <form action="/products" method="get" enctype="multipart/form-data">
      <!-- Add Product Button -->
      <a href="/addProduct" class="btn btn-primary mb-3">Add Product</a>

      <% if(message) { %>
        <div class="alert alert-dismissable fade show alert-<%= message.type %>" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></button>
          <strong>
            <%=message.message %>
          </strong>
        </div>
        <% } %>
          <% if(product!='' ){ %>
            <table class="table">
              <thead>
                <tr>
                  <th>Index</th>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Category</th>
                  <th>Color</th>
                  <th>Stock</th>
                  <th>Price</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>


              </tbody>
              <% product .forEach((row,index)=> { %>
                <tr class="align-middle">
                  <td>
                    <%=index+1 %>
                  </td>
                  <td><img src="<%=row.images.length > 0 ? row.images[0] : '' %>" width="50" class="img-thumbnail"></td>
                  <td>
                    <%=row.name %>
                  </td>
                  <td>
                    <%=row.category.name%>
                  </td>
                  <td>
                    <%=row.color %>
                  </td>
                  <td>
                    <%=row.stock %>
                  </td>
                  <td>
                    <%=row.price %>
                  </td>
                  <td> <a href="/editProduct/<%= row._id %>" class="text-success">
                      <i class="fas fa-edit"></i>
                    </a>
                    <form method="post" action="/blockProduct">
                      <input type="hidden" name="productId" value="<%= row._id %>">
                      <% if (row.blocked) { %>
                        <button type="submit" class="btn btn-success">Unblock</button>
                        <% } else { %>
                          <button type="submit" class="btn btn-danger">Block</button>
                          <% } %>
                    </form>
                  </td>

                </tr>
                <% }) %>
            </table>
            <% }else{ %>
              <h1 class="text-center text-secondary mt-5">No products found</h1>
              <% } %>
    </form>
  </div>

  </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>

  </html>